#change1 {
  display: none;
}

#change2 {
  display: none;
}

.canvasarea {
  display: inline-block;
  vertical-align: top;
  width: 640px;
}

.menu {
  display: inline-block;
  vertical-align: top;
  width: 240px;
}

button.mainbutton {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}